apiVersion: 1

datasources:
  - name: VictoriaMetrics
    uid: victoria-metrics
    type: prometheus
    access: proxy
    url: http://victoria-metrics:8428
    isDefault: true
    editable: false
    jsonData:
      timeInterval: 15s
  - name: Victoria-p01-production
    uid: DS_VICTORIA-P01-PRODUCTION
    type: prometheus
    access: proxy
    url: http://victoria-metrics:8428
    editable: false
    jsonData:
      timeInterval: 15s
